{% load staticfiles %}
<html>
    <head>
        <title>Django</title>

    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		

          
    	<link rel="stylesheet" href="{% static 'css/smgpy.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.appear.js"></script>
        <script src="/static/js/jqBootstrapValidation.js"></script>
        <script src="/static/js/modernizr.custom.js"></script>
        <script src="/static/js/script.js"></script>
        

    </head>
    <body>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
        
    </body>

</html>